@model MedicalRecord.Models.PatientHistory

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PatientHistory</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BloodType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BloodType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KnownConditionsAndDiseases)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KnownConditionsAndDiseases)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SurgicalHistory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SurgicalHistory)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExerciseActivity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExerciseActivity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExerciseFrequency)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExerciseFrequency)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Smoker)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Smoker)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AlcoholConsumption)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AlcoholConsumption)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Patient)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Patient.Address)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
